.md-sidebar--primary,
.md-sidebar--secondary {
  display: none !important;
}

.md-content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}


.md-tabs {
  justify-content: center;
}

.md-tabs__link {
  font-weight: 500;
  color: #000 !important;
}

.md-tabs__link--active {
  border-bottom: 2px solid #000;
}

a div:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}

/* Navbar stil */
.md-header {
  background-color: #ffffff !important;
  color: #000 !important;
  box-shadow: none !important;
}

.md-tabs {
  justify-content: center;
}

.md-tabs__link {
  font-weight: 500;
  color: #000 !important;
}

.md-tabs__link--active {
  border-bottom: 2px solid #000;
}

.md-tabs__link:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

[data-md-page="index.md"] h1:first-of-type {
  display: none;
}	